<h1>Summary selection</h1>

<form method="POST" action='/behavior/summary'>
    <table>
        <tr>
            <td>Week</td>
            <td><input type="week" name="week" /></td>
        </tr>
        <tr>
            <td>Month</td>
            <td><input type="month" name="month" /></td>
        </tr>
        <tr>
            <td>Retrieve summary</td>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
</form>

<h1>Weekly summary</h1>

<table>
    <tr>
      <td>Average sleep duration: <%= weekly.sleep_duration %> hours/day</td>
    </tr>
    <tr>
      <td>Average sleep quality: <%= weekly.sleep_quality %>/5</td>
    </tr>
    <tr>
        <td>Average generic mood: <%= weekly.generic_mood %>/5</td>
    </tr>
    <tr>
        <td>Average exercise time: <%= weekly.sports_duration %> hours/day</td>
    </tr>
    <tr>
        <td>Average studying time: <%= weekly.studying_duration %> hours/day</td>
    </tr>
</table>

<h1>Monthly summary</h1>

<table>
    <tr>
      <td>Average sleep duration: <%= monthly.sleep_duration %> hours/day</td>
    </tr>
    <tr>
      <td>Average sleep quality: <%= monthly.sleep_quality %>/5</td>
    </tr>
    <tr>
        <td>Average generic mood: <%= monthly.generic_mood %>/5</td>
    </tr>
    <tr>
        <td>Average exercise time: <%= monthly.sports_duration %> hours/day</td>
    </tr>
    <tr>
        <td>Average studying time: <%= monthly.studying_duration %> hours/day</td>
    </tr>
</table>
